language: python
python:
  - "2.6"
  - "2.7"
# vpython-wx and its dependencies are not Python3-compatible at this moment
#  - "3.2"
#  - "3.3"

# command to install dependencies
# http://about.travis-ci.org/docs/user/build-configuration/#Installing-Packages-Using-apt
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libgtk2.0-dev libgtkglextmm-x11-1.2-dev libgtkmm-2.4-dev
  - sudo apt-get install python-dev
  - sudo apt-get install libboost-python-dev libboost-signals-dev
  - sudo apt-get install libgstreamer0.10-dev libgstreamer-plugins-base0.10-dev
  - wget http://sourceforge.net/projects/wxpython/files/wxPython/2.9.4.0/wxPython-src-2.9.4.0.tar.bz2
  - tar xf wxPython-src-2.9.4.0.tar.bz2
  - cd wxPython-src-2.9.4.0/
  - wget http://sourceforge.net/projects/wxpython/files/wxPython/2.9.4.0/wxPython-src-2.9.4.1.patch
  - patch -p0 < wxPython-src-2.9.4.1.patch
  - cd wxPython/
  - python build-wxpython.py --build_dir=../bld
  - cd ..
  - export PYTHONPATH="$PWD/wxPython"
  - export LD_LIBRARY_PATH="$PWD/bld/lib"
  - cd ..
install:
  - "pip install -r requirements.txt --use-mirrors"
  - "pip install . --use-mirrors"
script: python -m unittest discover
