include README.md
include setup.py
include distribute_setup.py
include site-packages/vidle2/AutoComplete.py
include site-packages/vidle2/AutoCompleteWindow.py
include site-packages/vidle2/AutoExpand.py
include site-packages/vidle2/Bindings.py
include site-packages/vidle2/CREDITS.txt
include site-packages/vidle2/CallTipWindow.py
include site-packages/vidle2/CallTips.py
include site-packages/vidle2/ClassBrowser.py
include site-packages/vidle2/CodeContext.py
include site-packages/vidle2/ColorDelegator.py
include site-packages/vidle2/Debugger.py
include site-packages/vidle2/Delegator.py
include site-packages/vidle2/EditorWindow.py
include site-packages/vidle2/FileList.py
include site-packages/vidle2/FileRevert.py
include site-packages/vidle2/FormatParagraph.py
include site-packages/vidle2/GrepDialog.py
include site-packages/vidle2/HISTORY.txt
include site-packages/vidle2/HyperParser.py
include site-packages/vidle2/IOBinding.py
include site-packages/vidle2/IdleHistory.py
include site-packages/vidle2/MacBuildApp.py
include site-packages/vidle2/MultiCall.py
include site-packages/vidle2/MultiStatusBar.py
include site-packages/vidle2/NEWS.txt
include site-packages/vidle2/ObjectBrowser.py
include site-packages/vidle2/OutputWindow.py
include site-packages/vidle2/ParenMatch.py
include site-packages/vidle2/PathBrowser.py
include site-packages/vidle2/Percolator.py
include site-packages/vidle2/PyParse.py
include site-packages/vidle2/PyShell.py
include site-packages/vidle2/README.txt
include site-packages/vidle2/RemoteDebugger.py
include site-packages/vidle2/RemoteObjectBrowser.py
include site-packages/vidle2/ReplaceDialog.py
include site-packages/vidle2/RstripExtension.py
include site-packages/vidle2/ScriptBinding.py
include site-packages/vidle2/ScrolledList.py
include site-packages/vidle2/SearchDialog.py
include site-packages/vidle2/SearchDialogBase.py
include site-packages/vidle2/SearchEngine.py
include site-packages/vidle2/StackViewer.py
include site-packages/vidle2/TODO.txt
include site-packages/vidle2/ToolTip.py
include site-packages/vidle2/TreeWidget.py
include site-packages/vidle2/UndoDelegator.py
include site-packages/vidle2/WidgetRedirector.py
include site-packages/vidle2/WindowList.py
include site-packages/vidle2/ZoomHeight.py
include site-packages/vidle2/__init__.py
include site-packages/vidle2/aboutDialog.py
include site-packages/vidle2/config-extensions.def
include site-packages/vidle2/config-highlight.def
include site-packages/vidle2/config-keys.def
include site-packages/vidle2/config-main.def
include site-packages/vidle2/configDialog.py
include site-packages/vidle2/configHandler.py
include site-packages/vidle2/configHelpSourceEdit.py
include site-packages/vidle2/configSectionNameDialog.py
include site-packages/vidle2/dynOptionMenuWidget.py
include site-packages/vidle2/extend.txt
include site-packages/vidle2/help.txt
include site-packages/vidle2/idle.py
include site-packages/vidle2/idlever.py
include site-packages/vidle2/keybindingDialog.py
include site-packages/vidle2/macosxSupport.py
include site-packages/vidle2/pyclbr.py
include site-packages/vidle2/rpc.py
include site-packages/vidle2/run.py
include site-packages/vidle2/tabbedpages.py
include site-packages/vidle2/testcode.py
include site-packages/vidle2/textView.py
include site-packages/vidle2/utils.py
include site-packages/vidle2/Icons/idle.icns
include site-packages/vis/__init__.py
include site-packages/vis/controls.py
include site-packages/vis/factorial.py
include site-packages/vis/filedialog.py
include site-packages/vis/graph.py
include site-packages/vis/site_settings.py
include site-packages/visual/__init__.py
include site-packages/visual/controls.py
include site-packages/visual/factorial.py
include site-packages/visual/filedialog.py
include site-packages/visual/graph.py
include site-packages/visual/license.txt
include site-packages/visual/text.py
include site-packages/visual/visual_all.py
include site-packages/visual/docs/VPython_Intro.pdf
include site-packages/visual/docs/VisualIntro.html
include site-packages/visual/docs/VisualRef-1.gif
include site-packages/visual/docs/VisualRef-2.gif
include site-packages/visual/docs/VisualRef-3.gif
include site-packages/visual/docs/VisualRef-4.gif
include site-packages/visual/docs/VisualRef-6.gif
include site-packages/visual/docs/VisualRef-7.gif
include site-packages/visual/docs/VisualRef.css
include site-packages/visual/docs/arrow.html
include site-packages/visual/docs/axes.gif
include site-packages/visual/docs/box.html
include site-packages/visual/docs/color.html
include site-packages/visual/docs/cone.html
include site-packages/visual/docs/controls.html
include site-packages/visual/docs/convex.html
include site-packages/visual/docs/curve.html
include site-packages/visual/docs/cylinder.html
include site-packages/visual/docs/defaults.html
include site-packages/visual/docs/delete.html
include site-packages/visual/docs/display.html
include site-packages/visual/docs/ellipsoid.html
include site-packages/visual/docs/extrusion.html
include site-packages/visual/docs/faces.html
include site-packages/visual/docs/factorial.html
include site-packages/visual/docs/files.html
include site-packages/visual/docs/float.html
include site-packages/visual/docs/frame.html
include site-packages/visual/docs/graph.html
include site-packages/visual/docs/helix.html
include site-packages/visual/docs/index.html
include site-packages/visual/docs/keyboard.html
include site-packages/visual/docs/label.html
include site-packages/visual/docs/license.txt
include site-packages/visual/docs/lights.html
include site-packages/visual/docs/materials.html
include site-packages/visual/docs/mouse.html
include site-packages/visual/docs/mouse_click.html
include site-packages/visual/docs/mouse_drag.html
include site-packages/visual/docs/navigation.js
include site-packages/visual/docs/new_features.html
include site-packages/visual/docs/options.html
include site-packages/visual/docs/paths.html
include site-packages/visual/docs/points.html
include site-packages/visual/docs/primitives.html
include site-packages/visual/docs/pyramid.html
include site-packages/visual/docs/rate.html
include site-packages/visual/docs/ring.gif
include site-packages/visual/docs/ring.html
include site-packages/visual/docs/rotation.html
include site-packages/visual/docs/shapes.html
include site-packages/visual/docs/sphere.html
include site-packages/visual/docs/spherebox.gif
include site-packages/visual/docs/text.html
include site-packages/visual/docs/trail.html
include site-packages/visual/docs/vector.html
include site-packages/visual/docs/images/arc.jpg
include site-packages/visual/docs/images/arc_and_triangle_with_hole.jpg
include site-packages/visual/docs/images/arc_shape.jpg
include site-packages/visual/docs/images/arrow.jpg
include site-packages/visual/docs/images/box.jpg
include site-packages/visual/docs/images/circle.jpg
include site-packages/visual/docs/images/circle_frame.jpg
include site-packages/visual/docs/images/circle_shape.jpg
include site-packages/visual/docs/images/colors_abutting.jpg
include site-packages/visual/docs/images/cone.jpg
include site-packages/visual/docs/images/constructive_geometry.jpg
include site-packages/visual/docs/images/controls.jpg
include site-packages/visual/docs/images/convex.jpg
include site-packages/visual/docs/images/cross.jpg
include site-packages/visual/docs/images/cross_ellipse.jpg
include site-packages/visual/docs/images/cross_shape.jpg
include site-packages/visual/docs/images/curve.jpg
include site-packages/visual/docs/images/cylinder.jpg
include site-packages/visual/docs/images/ellipse.jpg
include site-packages/visual/docs/images/ellipse_shape.jpg
include site-packages/visual/docs/images/ellipsoid.jpg
include site-packages/visual/docs/images/extrusion.jpg
include site-packages/visual/docs/images/extrusion_twist.jpg
include site-packages/visual/docs/images/extrustion_scaling.jpg
include site-packages/visual/docs/images/faces.jpg
include site-packages/visual/docs/images/filedialog.jpg
include site-packages/visual/docs/images/frustum.jpg
include site-packages/visual/docs/images/gear.jpg
include site-packages/visual/docs/images/graph.jpg
include site-packages/visual/docs/images/helix.jpg
include site-packages/visual/docs/images/heptagon.jpg
include site-packages/visual/docs/images/hexagon.jpg
include site-packages/visual/docs/images/hexagon_shape.jpg
include site-packages/visual/docs/images/label.jpg
include site-packages/visual/docs/images/lathe.jpg
include site-packages/visual/docs/images/material_etc.jpg
include site-packages/visual/docs/images/ngon_shape.jpg
include site-packages/visual/docs/images/pentagon.jpg
include site-packages/visual/docs/images/pentagon_shape.jpg
include site-packages/visual/docs/images/points.jpg
include site-packages/visual/docs/images/pyramid.jpg
include site-packages/visual/docs/images/rackgear.jpg
include site-packages/visual/docs/images/rectangle.jpg
include site-packages/visual/docs/images/rectangle_chamfered.jpg
include site-packages/visual/docs/images/rectangle_rotated.jpg
include site-packages/visual/docs/images/rectangle_rounded.jpg
include site-packages/visual/docs/images/rectangle_shape.jpg
include site-packages/visual/docs/images/rectangle_shape_chamfered.jpg
include site-packages/visual/docs/images/rectangle_shape_frame.jpg
include site-packages/visual/docs/images/rectangle_shape_rotated.jpg
include site-packages/visual/docs/images/rectangle_shape_rounded.jpg
include site-packages/visual/docs/images/ring.jpg
include site-packages/visual/docs/images/skin.jpg
include site-packages/visual/docs/images/sphere.jpg
include site-packages/visual/docs/images/star.jpg
include site-packages/visual/docs/images/star_shape.jpg
include site-packages/visual/docs/images/star_with_hole.jpg
include site-packages/visual/docs/images/starpath.jpg
include site-packages/visual/docs/images/text.jpg
include site-packages/visual/docs/images/text3d.jpg
include site-packages/visual/docs/images/text_extrusion.jpg
include site-packages/visual/docs/images/text_inverse.jpg
include site-packages/visual/docs/images/text_shape.jpg
include site-packages/visual/docs/images/trail.jpg
include site-packages/visual/docs/images/trapezoid.jpg
include site-packages/visual/docs/images/trapezoid_shape.jpg
include site-packages/visual/docs/images/triangle.jpg
include site-packages/visual/docs/images/triangle_circular_hole.jpg
include site-packages/visual/docs/images/triangle_frame.jpg
include site-packages/visual/docs/images/triangle_path.jpg
include site-packages/visual/docs/images/triangle_shape.jpg
include site-packages/visual/docs/images/triangle_with_hole.jpg
include site-packages/visual/docs/images/triangle_with_hole2.jpg
include site-packages/visual/docs/images/triangular_ring.jpg
include site-packages/visual/docs/images/widgets.jpg
include site-packages/visual/examples/bounce.py
include site-packages/visual/examples/bounce2.py
include site-packages/visual/examples/boxlighttest.py
include site-packages/visual/examples/colorsliders.py
include site-packages/visual/examples/conch.py
include site-packages/visual/examples/controlstest.py
include site-packages/visual/examples/convex.py
include site-packages/visual/examples/crossproduct.py
include site-packages/visual/examples/crystal.py
include site-packages/visual/examples/differential_gear.py
include site-packages/visual/examples/dipole.py
include site-packages/visual/examples/doublependulum.py
include site-packages/visual/examples/drape.py
include site-packages/visual/examples/electric_motor.py
include site-packages/visual/examples/eventHandlers.py
include site-packages/visual/examples/extruded_columns.py
include site-packages/visual/examples/extrusion_examples.py
include site-packages/visual/examples/extrusion_overview.py
include site-packages/visual/examples/faces_cone.py
include site-packages/visual/examples/faces_heightfield.py
include site-packages/visual/examples/flower128.tga
include site-packages/visual/examples/gas.py
include site-packages/visual/examples/graphtest.py
include site-packages/visual/examples/gyro.py
include site-packages/visual/examples/gyro2.py
include site-packages/visual/examples/hanoi.py
include site-packages/visual/examples/keyinput.py
include site-packages/visual/examples/labels.py
include site-packages/visual/examples/lathe.py
include site-packages/visual/examples/lorenz.py
include site-packages/visual/examples/mandelbrot.py
include site-packages/visual/examples/material_test.py
include site-packages/visual/examples/medusa.py
include site-packages/visual/examples/orbit.py
include site-packages/visual/examples/planar.py
include site-packages/visual/examples/randombox.py
include site-packages/visual/examples/stars.py
include site-packages/visual/examples/stonehenge.py
include site-packages/visual/examples/text3D.py
include site-packages/visual/examples/texttest.py
include site-packages/visual/examples/texture_and_lighting.py
include site-packages/visual/examples/texturetest.py
include site-packages/visual/examples/tictac.py
include site-packages/visual/examples/tictacdat.py
include site-packages/visual/examples/toroid.py
include site-packages/visual/examples/toroid_drag.py
include site-packages/visual/examples/wave.py
include site-packages/visual/examples/widgets.py
include site-packages/visual_common/BlueMarble.tga
include site-packages/visual_common/__init__.py
include site-packages/visual_common/brickbump.tga
include site-packages/visual_common/controls.py
include site-packages/visual_common/crayola.py
include site-packages/visual_common/create_display.py
include site-packages/visual_common/earth.tga
include site-packages/visual_common/factorial.py
include site-packages/visual_common/filedialog.py
include site-packages/visual_common/graph.py
include site-packages/visual_common/materials.py
include site-packages/visual_common/paths.py
include site-packages/visual_common/primitives.py
include site-packages/visual_common/random.tga
include site-packages/visual_common/rate_function.py
include site-packages/visual_common/shapes.py
include site-packages/visual_common/site_settings.py
include site-packages/visual_common/turbulence3.tga
include site-packages/visual_common/wood.tga
include src/core/arrow.cpp
include src/core/axial.cpp
include src/core/box.cpp
include src/core/cone.cpp
include src/core/cylinder.cpp
include src/core/display_kernel.cpp
include src/core/ellipsoid.cpp
include src/core/frame.cpp
include src/core/label.cpp
include src/core/light.cpp
include src/core/material.cpp
include src/core/mouse_manager.cpp
include src/core/mouseobject.cpp
include src/core/primitive.cpp
include src/core/pyramid.cpp
include src/core/rectangular.cpp
include src/core/renderable.cpp
include src/core/ring.cpp
include src/core/sphere.cpp
include src/core/util/atomic_queue.cpp
include src/core/util/displaylist.cpp
include src/core/util/errors.cpp
include src/core/util/extent.cpp
include src/core/util/gl_extensions.cpp
include src/core/util/gl_free.cpp
include src/core/util/icososphere.cpp
include src/core/util/quadric.cpp
include src/core/util/rgba.cpp
include src/core/util/shader_program.cpp
include src/core/util/texture.cpp
include src/core/util/tmatrix.cpp
include src/core/util/vector.cpp
include src/mac/get_proc_address.cpp
include src/python/arrayprim.cpp
include src/python/convex.cpp
include src/python/curve.cpp
include src/python/cvisualmodule.cpp
include src/python/extrusion.cpp
include src/python/faces.cpp
include src/python/num_util.cpp
include src/python/numeric_texture.cpp
include src/python/points.cpp
include src/python/scalar_array.cpp
include src/python/slice.cpp
include src/python/vector_array.cpp
include src/python/wrap_arrayobjects.cpp
include src/python/wrap_display_kernel.cpp
include src/python/wrap_primitive.cpp
include src/python/wrap_rgba.cpp
include src/python/wrap_vector.cpp
include include/arrow.hpp
include include/axial.hpp
include include/box.hpp
include include/cone.hpp
include include/cylinder.hpp
include include/display_kernel.hpp
include include/ellipsoid.hpp
include include/frame.hpp
include include/label.hpp
include include/light.hpp
include include/material.hpp
include include/mouse_manager.hpp
include include/mouseobject.hpp
include include/primitive.hpp
include include/pyramid.hpp
include include/python/arrayprim.hpp
include include/python/convex.hpp
include include/python/curve.hpp
include include/python/extrusion.hpp
include include/python/faces.hpp
include include/python/num_util.hpp
include include/python/numeric_texture.hpp
include include/python/points.hpp
include include/python/scalar_array.hpp
include include/python/slice.hpp
include include/python/vector_array.hpp
include include/python/wrap_vector.hpp
include include/rectangular.hpp
include include/renderable.hpp
include include/ring.hpp
include include/sphere.hpp
include include/util/atomic_queue.hpp
include include/util/displaylist.hpp
include include/util/errors.hpp
include include/util/extent.hpp
include include/util/gl_enable.hpp
include include/util/gl_extensions.hpp
include include/util/gl_free.hpp
include include/util/icososphere.hpp
include include/util/quadric.hpp
include include/util/rate.hpp
include include/util/rgba.hpp
include include/util/shader_program.hpp
include include/util/sorted_model.hpp
include include/util/texture.hpp
include include/util/timer.hpp
include include/util/tmatrix.hpp
include include/util/vector.hpp
include include/wrap_gl.hpp
include site-packages/visual/__init__.py
include site-packages/visual/controls.py
include site-packages/visual/factorial.py
include site-packages/visual/filedialog.py
include site-packages/visual/graph.py
include site-packages/visual/text.py
include site-packages/visual/visual_all.py
include site-packages/visual_common/__init__.py
include site-packages/visual_common/controls.py
include site-packages/visual_common/crayola.py
include site-packages/visual_common/create_display.py
include site-packages/visual_common/factorial.py
include site-packages/visual_common/filedialog.py
include site-packages/visual_common/graph.py
include site-packages/visual_common/materials.py
include site-packages/visual_common/paths.py
include site-packages/visual_common/primitives.py
include site-packages/visual_common/rate_function.py
include site-packages/visual_common/shapes.py
include site-packages/visual_common/site_settings.py
